html {
  --mono-font: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  --sans-font: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif
}

body {
  background-color: antiquewhite;
  color: #111;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-size: 1rem;
  font-family:var(--sans-font)
}

button {
  height: 2.5rem;
  padding-inline: 1rem;
  background: seagreen;
  color: white;
  font-size: large;
  border: none;
  border-radius: .5rem;
}

button:hover {
  background: mediumseagreen;
}